@media (min-width: 576px) {
    div#cifra {
        height: auto;
    }
}

@media (min-width: 768px) {
    div#cifra {
        height: 400px;
        overflow: auto;
    }
}

@media (min-width: 992px) {
    div#cifra {
        height: 500px;
        overflow: auto;
    }
}

@media (min-width: 1200px) {
    div#cifra {
        height: 600px;
        overflow: auto;
    }
}