/*fonts*/

@font-face {
    font-family: 'MrDafoe';
    src: url(../components/fonts/MrDafoe-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lexend';
    src: url(../components/fonts/Lexend-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'TitanOne';
    src: url(../components/fonts/TitanOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url(../components/fonts/Lobster-Regular.ttf) format('truetype');
}

h1 {
    font-family: 'TitanOne'
}

h2 {
    font-family: 'TitanOne'
}

h3 {
    font-family: 'TitanOne'
}

h5 {
    font-family: 'Lexend'
}

h6 {
    font-family: 'Lexend'
}

/*navbar*/

.nav-item {
    margin-left: 20px;
    font-family: 'Lexend';
}

/*title*/

.title {
    min-height: 90px;
}