@media (min-width: 768px) {

  .gallery-item {
    transition: transform 1s ease;
    transform: scale(1);

  }

  .gallery-item:hover img {
    transition: transform 1s ease;
    transform: scale(1.2);
    cursor: pointer
  }

  .gallery-item img {
    height: 150px;
    padding: 2px;
  }

  div.text {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .gallery-item img {
    height: 180px;
    padding: 5px;
  }

  div.text {
    padding: 5px;
  }
}

body {
  min-height: 100vh;
}

div.container-sm {
  padding: 40px;
}