.item {
  transition: .8s ease-in-out;
  filter: grayscale(100%)
}

.item:hover {
  filter: grayscale(0%)
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

img.inactive {
  filter: grayscale(100%)
}

img.active {
  filter: grayscale(0%)
}

.carousel-item {
  object-position: 50% 50% !important;
  object-fit: contain !important;
}