.item {
  transition: .5s ease-in-out;
  filter: grayscale(100%)
}

.item:hover {
  filter: grayscale(0%)
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators,
.carousel-inner p {
  filter: invert(100%);
}